<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Student Login</title>

    <link rel="stylesheet" th:href="@{/css/student-login.css}">

    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">

</head>

<body>

<div class="login-container">

    <div class="login-box">

        <div class="icon">
            <i class="fa-solid fa-user-graduate"></i>
        </div>

        <h2>Student Login</h2>


        <div class="input-box">

            <i class="fa fa-user"></i>

            <input
                    type="text"
                    id="username"
                    placeholder="Student Username">

        </div>

        <div class="input-box">

            <i class="fa fa-lock"></i>

            <input
                    type="password"
                    id="password"
                    placeholder="Password">

            <i
                    class="fa-solid fa-eye"
                    id="togglePassword"></i>

        </div>

        <p id="error"></p>

        <button id="loginBtn">

            Login

        </button>

        <button id="backBtn">

            Back

        </button>

    </div>

</div>

<script th:src="@{/js/student-login.js}"></script>

</body>

</html>